[app]
env = "production"
coroutine_count_ip_check = 20 # IP 检测开启的协程数量
prometheus_able = false

[web]
host = "0.0.0.0"
port = 8080

[redis]
address = "redis://127.0.0.1:6379"
db = 1
password = ""

# 通过规则进行检测
# [rule.google]
# key = "google"
# url = "https://google.com/test"
# contains = "That’s all we know"  # 验证返回内容